html{
			background-image: url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
			background-repeat: no-repeat;
			background-size: cover;
			font-family: 'Josefin Sans', sans-serif;
}
		
#container{
	height: /*399px*/auto;
	max-width: 400px;
	background-color: #a1edeb ;
	margin: 10px auto;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 4px 4px 2px 2px #0d8aa3;
	-moz-box-shadow: 4px 4px 2px 2px #0d8aa3;
	-webkit-box-shadow: 4px 4px 2px 2px #0d8aa3;
	position: relative;
	background: rgba(171, 205, 239, 0.8);
	

}

#heading{
	text-shadow:  2px 4px brown;
	color: white;
	padding-top: 30px;
	text-align: center;
	
}

label{
	display: block;
	margin-top: 25px;
	text-transform: capitalize;
	color: #8e0e4a;
	font-weight: bolder;
}

input{
	width: 300px;
	padding: 8px 0;
	text-align: center;
	
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}

/*
button{
	border-radius: 7px;
	padding: 15px 30px;
	font-size: 0.8rem;
	text-transform: uppercase;
	border:none;
	color: white;
	background:#00b894;
	box-shadow: 1px 1px 5px 1px #2d3436;
	margin-top: 20px;
}

background-color: linear-gradient(to right, #0fa8a8 , #ced337);
*/